# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: dixneuf19/whatsonfip
  tag: latest
  pullPolicy: Always

container:
  port: 80
  probe:
    liveness:
      path: /health
    readiness:
      path: /health

resources:
  limits:
    memory: '128Mi'
    cpu: '300m'
  requests:
    memory: '64Mi'
    cpu: '100m'

service:
  type: ClusterIP
  port: 1919

ingress:
  enabled: false

configmap:
  RADIO_FRANCE_API_HOST: "https://openapi.radiofrance.fr/v1/graphql"
  RADIO_FRANCE_API_HEALTHCHECK: "https://openapi.radiofrance.fr/v1/.well-known/apollo/server-health"

secrets:
  - name: spotify-api-access
    key: SPOTIPY_CLIENT_ID
  - name: spotify-api-access
    key: SPOTIPY_CLIENT_SECRET
